{% extends 'base.html' %}

{% block title_block %}Delete Article - Prasetyadi{% endblock %}

{% block body_block %}
    <form method="POST" action="{% url 'blog:delete' %}">
        {% csrf_token %}
        <h3>Are you sure you want to delete this article?</h3>
        <dl>
            <dt>Title:</dt>
            <dd>{{ art.title }}</dd>
            <dt>Summary:</dt>
            <dd>{{ art.summary }}</dd>
            <dt>Created at:</dt>
            <dd>{{ art.date_created|date:"d-M-Y H:i" }}</dd>
        </dl>
        <input name="article-id" type="hidden" value="{{ art.id }}">
        <button class="btn btn-danger">Delete</button>
    </form>
{% endblock %}